<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieGPT</title>
    <link rel="stylesheet" href="/static/app.css">
    <link rel="icon" href="data:,">
    
</head>
<body class="light-mode">
    <div class="chat-container">
        <div class="header">
            <h2>MovieGPT</h2>
            <div class="mode-icon" id="mode-icon" title="Switch to Dark Mode">
                <img src="https://img.icons8.com/ios-filled/50/000000/sun--v1.png" alt="Light Mode Icon" id="mode-image">
            </div>
        </div>
        <div class="chat-box" id="chat-box">
        
        </div>
        <div class="input-area">
            <textarea id="message-input" placeholder="Type a message..." rows="1"></textarea>
            <button id="send-btn">Send</button>
        </div>
    </div>
    
    <script src="/static/app.js"></script>
</body>
</html>
